/* راستچین برای پلاگین دیتاویو */
.rtl-dataview .block-language-dataview {
    direction: rtl;
    text-align-last: center;
}

/* راستچین برای پلاگین ترکر */
.rtl-tracker .block-language-tracker {
    direction: rtl;
}

/* پلاگین tabs */
.border-tab .tabs-container {
    border: 1px solid #9595954d;
    border-radius: 10px;
    padding: 5px;   
}

.border-tab .tabs-nav{
    border-bottom: 1px solid #9595954d;
    direction: rtl;
}

.markdown-source-view.is-readable-line-width .tabs-container {
    max-width: 100%;
}


/* تب پلاگین html tab */
/* .block-language-tabs {
    border: solid 1px;
    border-radius: 10px;
    padding: 0 1rem;
}

.html-tabs {
    font-size: 1.1rem;
    line-height: 1rem;
    direction: rtl;
    gap: 1rem;
}

.ltr-tabs .html-tabs{
    direction: ltr;
    gap: 0rem;
} */



/* Tabs Plugin */
    /* بوردر */
    .tabs-container {
        border: 1px solid #9595954d;
        border-radius: 10px;
        padding: 8px;   
    }
    .tabs-nav{
        border-bottom: 1px solid #9595954d;
        direction: rtl;
    }

/* 100 درصد شدن عرص */








