/* راستچین برای پلاگین دیتاویو */
.rtl-dataview .block-language-dataview {
    direction: rtl;
    text-align-last: center;
}

/* راستچین برای پلاگین ترکر */
.rtl-tracker .block-language-tracker {
    direction: rtl;
}



/* تب پلاگین html tab */

.html-tabs {
    font-size: 1rem;
    line-height: 1rem;
    direction: rtl;
    gap: 1rem;
    border-color: rgba(139, 139, 139, 0.226);
}

.ltr-tabs .html-tabs{
    direction: ltr;
    gap: 0rem;
}

/* بوردر */
.tab-border .block-language-tabs {
    border: solid 1px #8080802d;
    border-radius: 12px;
    padding: 0 0.5rem;
}

/* زمینه خاکستری */
.tab-gray .block-language-tabs{
    background-color: #8080800a;
    border: solid 1px #8080802d;
    border-radius: 12px;
    padding: 0 0.5rem;
}








