/* Dataview Plugin --------------------------------------- */

.rtl-dataview .block-language-dataview {
    direction: rtl;
    text-align-last: center;
}

.cards table.dataview tbody>tr>td {
    border: none !important;
}


/* Tracker Plugin --------------------------------------- */
.rtl-tracker .block-language-tracker {
    direction: rtl;
}



/* tab ----------------------------------------------- */

.html-tabs {
    font-size: 1rem;
    line-height: 1rem;
    direction: rtl;
    gap: 1rem;
    border-color: rgba(139, 139, 139, 0.226);
}

.ltr-tabs .html-tabs{
    direction: ltr;
    gap: 0rem;
}

/* بوردر */
.tab-border .block-language-tabs {
    border: solid 1px #8080802d;
    border-radius: 12px;
    padding: 0 0.5rem;
}

/* زمینه خاکستری */
.tab-gray .block-language-tabs{
    background-color: #8080800a;
    border: solid 1px #8080802d;
    border-radius: 12px;
    padding: 0 0.5rem;
}


/* Callout Grid Layouts ----------------------------------- */
.overview .callout[data-callout="grid4"],
.overview .callout[data-callout="grid3"] {
    background-color: transparent;
    padding: 0;

    & .callout-content {
        display: grid;
        column-gap: 20px;
        justify-items: center;
    }

    & .callout-title {
        display: none;
    }
}

.overview .callout[data-callout="grid4"] .callout-content {
    grid-template-columns: repeat(4, 1fr);
}

.overview .callout[data-callout="grid3"] .callout-content {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 480px) {
    .overview .callout[data-callout="grid4"] .callout-content,
    .overview .callout[data-callout="grid3"] .callout-content {
        grid-template-columns: repeat(2, 1fr);
    }
}








